body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.title-container h1{
    text-align: center;
}

.refresh-message{
    width: 250px;
    position: absolute;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
}

@media(max-width: 700px){
    .title-container{
        flex-direction: column;
    }
    .refresh-message{
        top: 150px;
    }
}

.word-slot{
    width: 250px;
    display: block;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    opacity: 0;
}

h1{
    margin: 0px 10px;
    padding: 10px;
}

.visible{
    opacity: 1;
    transition: opacity 1s;
}

.non-visible{
    opacity: 0;
    transition: opacity 0.7s;
}

.word-slot-container{
    background-color: var(--two);
}

.visibility-hidden{
    visibility: hidden;
}

.visibility-visible{
    visibility: visible;
}