body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 400px;
}

.title-container{
    margin-bottom: var(--element-separation)
}

/* INPUT CONTAINER */

.inputContainer{
    position: relative;
    display: flex;
    justify-content: center;
}

.inputContainer input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--one);
}

.inputContainer button{
    min-width: 100px;
    margin-left: 10px;
    padding: 0;
}

.inputContainer .invalidInput{
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red;
}

.inputButton{
    background-color: var(--two);
    border: 1px solid var(--two);
}

.inputButton:hover{
    background-color: var(--one);
    border: 1px solid var(--one);
}

/* SELECTS CONTAINER */

.selectsContainer{
    display: flex;
    align-items: center;
    margin-top: var(--element-separation);
}

.selectsContainer div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
}

.selectsContainer div:last-child{
    margin-right: 0px;
}

.selectsContainer select{
    border: 1px solid var(--one);
    padding: 5px;
}

/* SEARCH BUTTON */

.searchButton{
    margin-top: var(--element-separation);
    width: 100%;
    background-color: var(--two);
    border: 1px solid var(--two);
}

.searchButton:hover{
    background-color: var(--one);
    border: 1px solid var(--one);
}

/* RESULT */

.resultsWrapper{
    width: 100vw;
}

.endpoint{
    margin-top: var(--element-separation);
    text-align: center;
}

.searchResultContainer{
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
}

.searchResultContainer > div{
    background-color: var(--three);
    padding: 10px;
    margin-top: var(--element-separation);
    border-radius: 5px;
    text-align: center;
}

.searchResultContainer > div:last-child{
    margin-right: 0;
}

.searchResultMessage {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.resultTitle{
    font-weight: bold;
}

.linesContainer{
    margin: 15px 0;
}

.linesContainer p{
    margin: 0;
}

.show{
    display: block;
}

.hide{
    display: none;
}